<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CCM</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">CANCER CLASSIFICATION<br />MODEL</div>
        <a href="/signup"><button class="signup-button">Sign Up</button></a>
      </nav>
    </header>

    <section class="hero">
      <div class="text-content">
        <h2>PURPOSE OF CCM</h2>
        <h1>Detailed diagnostics of your cancer cells</h1>
        <p>
          Health is the most important thing. So don’t put it off for later.
          Think about your future today.
        </p>
        <a href="/login"
          ><button class="cta-button">Login to check your health</button></a
        >
      </div>
    </section>
    <!-- <footer>
        <p>&copy; 2024 MYDNA. All Rights Reserved.</p>
    </footer> -->
    <!-- <section class="details">
        <div class="detail-item">
            <h3>01</h3>
            <h4>First Central Laboratory in Clinical Research</h4>
            <p>MYDNA is a Global Clinical Research Central Laboratory specializing in Oncology/Cancer Research with accreditations from leading institutions. The lab has been in operation globally since 2009.</p>
        </div>
        
    </section>

     -->
  </body>
</html>
